{% extends 'base.html' %} {% block title %}
Projects
{% endblock %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/project.css' %}" />
{% endblock %}
{% block content %}
  <div class="container">
    <div class="container-fluid">
      {% for item in projectItems %}
        {% if item.section.active == True %}
          <div class="project-section">{{ item.section.name }}</div>
          {% for project in item.projects %}
            <div class="container">
              <div class="row project-card">
                <img class="card-image" src="{{ project.image.url }}" alt="Card image" />

                <div class="card-content">
                  <div class="card-text">
                    <h3 class="card-title">{{ project.name }}</h3>
                    <p class="card-description">{{ project.description }}</p>
                  </div>

                  <div>
                    {% for tag in poroject.tags %}
                      <span class="tech-badge">{{ tag }}</span>
                    {% endfor %}
                  </div>
                  <div class="project-link-btn">
                    <!-- template.html -->
                    {% if project.link != " " %}
                        <a href="{{ project.link }}" target="_blank" rel="noopener">
                          <img src="{% static 'icons/github_icon.png' %}" alt="GitHub" class="icon-img" />
                        </a>
                    {% endif %}

                    {% if project.youtube != null %}
                        <a href="{{ project.youtube }}" target="_blank" rel="noopener">
                          <img src="{% static 'icons/youtube.png' %}" alt="YouTube" class="icon-img" />
                        </a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
