{% extends 'base.html' %} {% block title %}
  Job Experience
{% endblock %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/project.css' %}" />
{% endblock %}
{% block content %}
  <div class="container">
    <div class="container-fluid">
      {% for item in projectItems %}
        {% if item.section.active == True %}
          <div class="project-section">{{ item.section.name }}</div>
          {% for project in item.projects %}
            <div class="container">
              <div class="row project-card">
                <img class="card-image" src="{{ project.image.url }}" alt="Card image" />

                <div class="card-content">
                  <div class="card-text">
                    <h3 class="card-title">{{ project.name }}</h3>
                    <p class="card-description">{{ project.description }}</p>
                  </div>

                  <div>
                    {% for tag in poroject.tags %}
                      <span class="tech-badge">{{ tag }}</span>
                    {% endfor %}
                  </div>
                  <div class="project-link-btn">
                    <!-- template.html -->
                            {%if project.link != " "%}
                    <a href="{{ poroject.link }}" class="github-button" target="_blank" rel="noopener">
                      <svg class="github-logo" viewBox="0 0 16 16" aria-hidden="true">
                        <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 
                    5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49
                    -2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13
                    -.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 
                    1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07
                    -1.78-.2-3.64-.89-3.64-3.95 
                    0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 
                    0 0 .67-.21 2.2.82a7.7 7.7 0 0 1 2-.27 
                    c.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82 
                    .44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 
                    2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 
                    1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38 
                    A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
                      </svg>
                    </a>
                          {%endif%}
                    {%if project.youtube != " "%}
                    <a href="{{ project.youtube }}" class="youtube-button" target="_blank" rel="noopener">
                      <svg class="youtube-logo" viewBox="0 0 24 24" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
                        <path fill="red" d="M23.498 6.186a2.99 2.99 0 0 0-2.104-2.11C19.61 3.5 12 3.5 12 3.5s-7.61 0-9.394.576a2.99 2.99 0 0 0-2.104 2.11A31.216 31.216 0 0 0 0 12a31.216 31.216 0 0 0 .502 5.814 2.99 2.99 0 0 0 2.104 2.11C4.39 20.5 12 20.5 12 20.5s7.61 0 9.394-.576a2.99 2.99 0 0 0 2.104-2.11A31.216 31.216 0 0 0 24 12a31.216 31.216 0 0 0-.502-5.814zM9.75 15.02V8.98l6.25 3.02-6.25 3.02z" />
                      </svg>
                    </a>
                    {%endif%}
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
