{% extends 'base.html' %} {% block title %}
  Skills
{% endblock %}
{% block content %}
  {% load static %}
  {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/skill.css' %}" />
    <style>
      .skill-icons {
        width: 35px;
        height: 35px;
        background-color: white;
        padding: 2px;
        margin-right: 10px;
      }
      .skill-text {
        font-family: sans-serif;
        font-weight: bold;
        font-size: 20px;
      }
      .skill-section-header {
        padding: 5px;
        margin-bottom: 10px;
        background-color: #f1efec;
        color: #030303;
        font-weight: bold;
        position: sticky;
        top: 0;
        z-index: 10;
      }
    </style>
  {% endblock %}
<div class="container">

  <div class="container-fluid mt-4">
    {% for section in skills_data %}
    <div class="section">
      <div class="skill-section-header">{{ section.section }}</div>
      
      {% for category in section.categories %}
      <h6 class="skill-category"># {{ category.name }}</h6>
      <div class="row">
        {% for skill in category.skills %}
        
        <div class="col-12 col-md-6 col-xl-4 mb-4">
        {% if skill.active == True %}
          <div class="skill-container d-flex">
            <img class="skill-icons" src="{% static 'icons/'|add:skill.icon %}" alt="{{ skill.name }}" />
            <text class="skill-text">{{ skill.name }}</text>
          </div>
          {% endif %}
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
