{% extends "base.html" %} {% block title %}  Saruar Jahan{% endblock  %}
{% block content %}

<div>
<div class="main-content">
    <div class="section">
        <h3>Hello!</h3>
        <p>
            I am S S Saruar Jahan, pursing my Masters degree in Data Science at
                <a class="styled-link" href="https://www.uni-trier.de/">Universität Trier, Trier</a>. 
             Currently, I am at my 2nd semester. Completed three courses in last semester Elements of Computer Science part b, 
            Elements of Math, Statistical programing with R. 
        </p>
    </div>
    
    <div class="section">
        <p>
            After my Bachelor degree i have worked as a Software Engineer at 
            
            <a class="styled-link"  href="https://bjitgroup.com/">BJIT Limited</a>.
            Served I was tenor for almost two years. I worked actively with iOS development. 
            As BJIT Limited is offshore based client company. I have worked for 
            <a class="styled-link"  href="https://play.google.com/store/apps/details?id=jp.co.rakuten.beauty.android&hl=en&pli=1">
                Rakuten via BJIT
            </a>
            . Apart from that, I have worked on three of the in house project of BJIT such that Transportation Tacking Service (TTS), 3D game (Apple Vision Pro), Employee Management System. 
        </p>
    </div>
    
    <div class="section">
        <p>
            My past research work were based of Natural Language Processing. 
            Those works are associated with Text Classification, Building Custom Models, Fine Tuning as such.   

        </p>
    </div>
</div>
{% endblock content %}