{% extends "base.html" %} {% block title %} Home page{% endblock  %}
{% block content %}
<div>
<div class="main-content">
    <div class="section">
        <h1>Greetings! 🌏</h1>
        <p>
            I am G M Shahariar Shibli (<span class="highlight">pronounce 🔊</span>), a first year PhD Student 
            in the Computer Science and Engineering department at the 
            <span class="highlight">University of California, Riverside</span>. I am currently working in the 
            Natural Language Processing group at UCR and very fortunate to be 
            advised by <span class="highlight">Professor Yue Dong</span>. At present, I am investigating bias, 
            fairness and safety in LLMs and Text-to-Image (T2I) generation 
            models.
        </p>
    </div>
    
    <div class="section">
        <p>
            Prior to that I worked as a Lecturer at the Department of CSE, 
            Ahsanullah University of Science and Technology. I obtained my 
            Bachelor's degree in CSE from the same university. My career 
            aspiration is to work in leading AI research laboratories. <span class="green-text">I am open 
            to the possibility of collaboration. Feel free to email.</span>
        </p>
    </div>
    
    <div class="section">
        <p>
            My past research works were intended to tackle low resource NLP, 
            covering areas like <span class="italic">natural language generation, summarization, 
            question answering (QA), and interpretability of language models</span>. I 
            had utilized cutting-edge techniques like <span class="italic">generative</span> and <span class="italic">contrastive 
            learning</span> to improve language generation and <span class="italic">representation 
            learning</span> for low resource language. Additionally, I had applied 
            natural language processing in specific <span class="italic">software engineering (SE)</span> 
            tasks.
        </p>
    </div>
    


</div>
{% endblock content %}