.job_experience_position {
    font-size: 1.2em;
    font-weight: bold;
      margin-top: 0;
        margin-bottom: 0; 
}

.job_experience_company > h3{
    font-size: 1em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0; 
}
.job_experience_company > p{
    font-size: 0.8em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;}

    .position-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1.5rem;
  max-width: auto;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background: #fff;
  display: inline;

}

.position-card-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.company-logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-right: 1rem;
  border-radius: 8px;
}

.company-info {
  flex: 1;
}

.company-name {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.position-title {
  margin: 0;
  font-size: 1rem;
  color: #555;
}

.position-card-body {
  font-size: 0.95rem;
  color: #333;
}

.position-description {
  margin: 0 0 0.5rem 1.2rem;
  padding: 0;
}

.position-description li {
  margin-bottom: 0.3rem;
  line-height: 1.4;
}


.position-meta {
  font-size: 0.85rem;
  color: #777;
}

.position-meta span {
  margin-right: 1rem;
}

