.project-card {
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-bottom: 1.5rem;
    width: 700px;
    height: auto;
}


.card-content {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 15px;
}

.project-section {

    background-color: #f1efec;
    color: #030303;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 10;

}



.card-image {
    width: 300px;
    height: 200px;
  object-fit: contain;   /* Scale image to fit, preserving aspect ratio */
    object-position: center center;    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.card-text {
    flex: 1;
    height: 200px;
}

.card-title {

    font-size: 1.5em;
    color: #333;
}

.card-description {
    color: #666;
    line-height: 1.6;
}

.tech-badge {
    display: inline-block;
    padding: 2px;
    border-radius: 25px;
    font-weight: 200;
    font-size: 0.75rem;
    color: white;
    background-color: #748DAE;
}

/* styles.css */
.project-link-btn {
    text-align: right;
     height: 20%;

}

.github-button {
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #24292e;

    border-radius: 50%;
    text-decoration: none;
 
    transition: background 0.3s;
}

.github-button:hover {
    background-color: #333;
}

.github-logo {
    width: 20px;
    height: 20px;
    fill: #fff;
    /* GitHub logo in white */
}

.youtube-button {
        
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    text-decoration: none;
 
    transition: background 0.3s;
}