.skill-container {
    align-items: left;
    background-color: #ebe9e9;
    border-radius: 6px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #9c9c9c;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 100%;
  }

  
  .skill-icon {
    width: 30px;
    height: 30px;
  }